*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    height: 8vh;
    background-color: #070037;
}

#page1{

    height: 100vh;
    background: url(slike/page1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page2{
    background-color: orangered;
    height: 100vh;
    text-align: center;

}

.page2div{
    display: inline-block;
    background-color: white;
    height: 60vh;
    width: 30vw;
    margin-top: 15vh;
    margin-right: 3vh;
    border-radius: 25px;
    box-shadow: 6px 6px 8px 5px rgba(1, 0, 0, 0.461), 0 6px 20px 0 rgba(1, 0, 0, 0.423);
    vertical-align: middle;
    text-align: center;
}

.page2div p{
    color: #070037;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5vh;
}

.page2div img{
    margin: 10vh auto;
    width: 50vh;
    display: block;
    border-radius: 20px;
    
}

#page2 div {
    text-align: center;
    color: #070037;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



#page3{
    height: 100vh;
    background: url(slike/page2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navigacija ul li{
    display: inline-block;
    margin-top: 3vh;

}

footer{
    background-color: #070037;
    height: 50vh;
    text-align: center;
}

li a{
    color: white;
}

li a:hover{
    border-bottom:2px solid white;
}

#navigacija ul {
    text-align: right;
}

#navigacija , #logo{
    flex-grow: 1;
}

#logo{
    font-family: 'Permanent Marker', cursive;

}

#navigacija{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#logo h1{
    display: block;
    margin: 1.2vh 5vh;
    color: white;
}
ul{
    display: block;
    margin-right: 20vh;
}

#home2{
    margin-right: 5vh;
}

#contact2{
    margin-right: 5vh;
}


#about2{
    margin-right: 5vh;
}

#back{
    position: fixed;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin: 2vh 2vh;
    font-weight: 600;
    font-size: 20px;
    background: transparent;
    border-color: white;
}
button a{
    color: rgb(255, 255, 255);
    line-height: 55px;
    font-size: 30px;
}

footer h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
footer h2{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

iframe{
    margin-top: 1vh;
}
footer p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 200;
    margin-top: 1.5vh;
}
footer a{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 200;

}
footer a:hover{
    border-bottom: 1px solid white;
}

.text{
    display: inline-block;
    border: 1px solid white;
    width: 20%;
    text-align: center;
    height: 40vh;
    margin-top: 6.25vh;
    margin-left: 4vw;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.355);
    vertical-align: middle;
}




.text p{
    width: 80%;
    color: wheat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 3vh auto;
}


.textarea{
    text-align: center;
}



.a{
    position: absolute;
    top: 260vh;
    left: 50%;
    transform: translate(-50%,-50%);    
    color: #1670f0;
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}



.a span:nth-child(1){
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right , #0c002b, #1779ff);
    animation: animate1 0.8s linear infinite;
}

.a span:nth-child(2){
    position: absolute;
    top: 0;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom , #0c002b, #1779ff);
    animation: animate2 0.8s linear infinite;
    animation-delay: 0.4s;
}

.a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left , #0c002b, #1779ff);
    animation: animate3 0.8s linear infinite;
}
.a span:nth-child(4){
    position: absolute;
    bottom: 0;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top , #0c002b, #1779ff);
    animation: animate4 0.8s linear infinite;
    animation-delay: 0.4s;
}

@keyframes animate1  {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}



